@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;700;800&family=Caudex:wght@400;700&family=IBM+Plex+Serif&family=Open+Sans&family=Orbitron:wght@700&display=swap');

*{margin: 0;
    padding: 0;}
    
body {
    background: linear-gradient(108.76deg, #343131 -1.39%, #1D1919 102.08%);
}

body,
html {
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 111px 1fr;
    grid-template-rows: 98px 1fr;
    height: 100%;
}

.logo {
    display: block;
    width: 103px;
    height: 31px;
    background-image: url(images/Auxpo__logo.svg);
    background-repeat: no-repeat;
    margin-left: 60px;
}

.header-list {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0%;
    align-items: center;

}

.header_item{
    margin-right: 68px;
}

.header_link {
    color: aliceblue;
    text-decoration: none;
    font-family: 'Catamaran';
}

.folder {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(images/disceta.svg);
    background-repeat: no-repeat;
}

.content__header {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__sidebar {
    grid-column: 1/2;
    grid-row: 1/4;
    border-right: 1px solid #505050;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.content__main {
    grid-column: 2/3;
    grid-row: 2/3;
    color: aliceblue;
}

.swiper{
    height: calc(100vh - 98px);
    position: relative;
}

.swiper-wrapper{
    flex-basis: 500px;
    position: static;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical>.swiper-pagination-bullets {
    right: inherit;
    left: 0;
    position: absolute;
    width: 203px;
    flex-basis: 203px;
    left: 60px;
    top: 231px;
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin-top: 45px;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active{
    background: transparent;
    width: inherit;
    height: inherit;
    text-align: left;
}

.swiper-slide{
    position: inherit;
}

.swiper-body{
    margin-left: 50%;
    width: 390px;

}

.swiper-body__title{
    font-family: "Caudex";
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.swiper-body__title span{
    position: relative;
}

.siper-body_button{
    display: flex;
    align-items: center;

}

.swiper-body__btn{
    text-decoration: none;
    font-family: "Orbitron";
    margin-top: 47px;
}

.swiper-body__title span::before{
    content: '3D printed';
    position: absolute;
    width: 100%;
    color: deeppink;
    z-index: -1;
    left: -4px;
    top: 0;
}

.swiper-body__title span::after{
    content: '3D printed';
    position: absolute;
    width: 100%;
    color: #5025FB;
    z-index: -2;
    right: -4px;
    top: 5px;
}

.swiper-body__buy{
    position: relative;
    color:#1D1919;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Orbitron';
    background-color: aliceblue;
    margin-right: 34px;
    padding: 10px 22px;

}

.swiper-body__buy::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: deeppink;
    z-index: -1;
    left: -4px;
    top: -4px;
}

.swiper-body__buy::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #5025FB;
    z-index: -2;
    right: -3px;
    bottom: -4px;
}

.swiper-body__view{
    position: relative;
    color: aliceblue;
    border: 1px solid #BCBCBC;
    padding: 14px 21px 14px 52px;
    font-family: 'Orbitron';
    font-weight: 500;
    font-size: 16px;
    background: transparent;
}

.swiper-body__view::before{
    content: '';
    background-image: url(images/watch.svg) ;
    position: absolute;
    width: 21px;
    height: 18px;
    left: 21px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    top: calc(50% - 9px)
}

.swiper-body__description{
    font-family: 'Catamaran';
    color: #BCBCBC;
    font-size: 20px;
    line-height: 140%;
    width: 390px;
    height: 56px;
}

.swiper-info{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 2fr;
    grid-gap: 5%;
    padding-left: 60px;
    flex-basis: calc(100% - 285px);
}

.swiper-info__author{
    grid-column: 1/6;
    grid-row: 1/2;
    font-family: 'Caudex';
    font-weight: 700;
    font-size: 23px;
}

.swiper-info__item span{
    display: block;
}

.swiper-footer{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(270deg, rgba(66, 66, 66, 0.49) 0%, rgba(66, 66, 66, 0.4753) 76.04%, rgba(66, 66, 66, 0) 100%);
    backdrop-filter: blur(23.6458px);
    justify-content: space-between;
    align-items: center;
}

.swiper-cover{
    position: relative;
    height: 225px;
    width: 225px;
    overflow: hidden;
}

.swiper-cover__img{
    position: absolute;
    height: 225px;
    width: 225px; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.swiper-pagination-bullet{
    font-size: 34px;
    font-weight: 800;
}

.swiper-pagination-bullet span{
    display: block;
}

.swiper-pagination-bullet span:nth-child(1){
    font-size: 23px;
    font-weight: 600;
}

.swiper-pagination-bullet span:nth-child(2){
    font-size: 17px;
    font-weight: 600;
    color: #BCBCBC;
}

.sidebar_button { 
    height: 98px;
    width: 100%;
    border: none;
    background-position: center center;
    background: linear-gradient(127.44deg, #505050 0%, #383838 100%);
    position: relative;
}

.sidebar_button::after{
    content: "";
    width: 24px;
    height: 24px;
    background: url(images/menu.svg);
    background-repeat: no-repeat;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    position: absolute;
}

.sidebar_list{
    margin-bottom: 60px;
    padding-left: 0%;
    list-style: none;

}

.sidebar_item{
    margin-top: 65px;
}

.sidebar_link {
    display: block;
    height: 30px;
    width: 30px;
    margin: 0 auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.fb{
    background-image: url(images/face.book.svg);
}
.inst{
    background-image: url(images/instagram.svg);
}
.tw{
    background-image: url(images/Twiter.svg);
}

.swiper-slide_image{
    width: 40%;
    position: absolute;
    left: 10%;
    bottom: 0;
}